.soc_list {
   display: flex;
   list-style: none;
}
.soc_list_item {
   width: 65px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.soc_list_item a{
   text-decoration: none;
   color: white;
   font-size: 1.1rem;
}
.soc_list_item:first-child {
   background-color: #3c5899;
}

.soc_list_item:nth-child(2) {
   background-color: rgb(70, 174, 223);
}
.soc_list_item:nth-child(3) {
   background-color: rgb(234, 79, 79);
}
.soc_list_item:last-child {
   background-color: rgb(229, 10, 10);
}
.soc_list_item:hover {
   cursor: pointer;
}
.soc_list_item:hover i{
   color: black;
   transition: all 0.5s;
}

