.asidefilms{
   display: grid;
}

.grid_container {
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   grid-template-columns: repeat(2, 1fr);
   position: relative;
}

.event_box {
   margin: 20px 0px;
}

.comm_cont{
   display: grid;
}
.boxes{
   padding: 30px;
}
.boxes:nth-child(1) {
   background-color: #2b2b2b;
}
.boxes:nth-child(3) {
   background-color: #2b2b2b;
}
.boxes:nth-child(2) {
   background-color: #222222;
}
.boxes_title{
   transition: all 0.5s;
   font-weight: 400;
}
.boxes_title:hover {
   color:rgb(91, 209, 215);
   transition: all 0.5s;
   cursor: pointer;
}
.titles {
   margin: 20px 0 10px;
   font-size: 1.6em;
}
.bord_top {
   border-top: 3px solid #5BD1D7;
}
.comm_container {
   margin-top: 10px;
}